{{- $configData := .Site.Data.config.widgets.tag_cloud -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $shuffle := ( $config.shuffle | default true ) -}}
{{- $taxonomy := ( $config.taxonomy | default "tags" ) -}}
{{- $taxonomyData := ( .Site.GetPage "taxonomy" $taxonomy ).Data -}}
{{- $taxonomySingular := $taxonomyData.Singular -}}

<section class='widget widget-taxonomy_cloud sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- ( $config.title | default ( i18n $taxonomySingular 2 ) ) -}}
    </h4>
  </header>

  {{ partial "extras/taxonomy_cloud" ( dict "Taxonomy" $taxonomy "Shuffle" $shuffle "Scope" . ) }}

</section>
