{{- with .Params.authors -}}

{{- $lang := ( $.Params.lang | default $.Lang ) -}}

<span class='byline'>
  {{- partial "svg/icon" "author" -}}
  <span class='screen-reader-text'> {{ i18n "by" }} </span>

  {{- range $i, $authorID := . -}}
    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
    {{- $i18nAuthor := ( index $author $lang ) -}}
    {{- $name := ( or $i18nAuthor.name $author.name ) -}}
    {{- if gt $i 0 }}, {{ end -}}
    <a href='{{ ( print "authors" "/" $author.id ) | relLangURL }}'>
      {{- $author.id -}}
    </a>
  {{- end -}}
</span>

{{- end -}}
