<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='{{ partial "data/description" . }}'>
<meta name='theme-color' content='{{- .Site.Params.settings.accentColor | default "#ffcd00" -}}'>
<meta http-equiv="Keywords" name="keywords" content='{{- .Site.Params.settings.keywords -}}'>
{{- if eq .Data.Singular "author" -}}
<meta name="robots" content="noindex" />
{{- end -}}
{{ partial "head/opengraph" . }}

{{ hugo.Generator }}
