{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if eq .Name "Vortrag"}}

<h3 id="vorträge">Vorträge</h3>

<p>Wenn Ihr selbst einen <b>neuen Vortrag</b> im Rahmen unseres monatlichen Stammtisches halten wollt,
dann meldet Euch unter <a href="mailto:vortrag@gaos.org">vortrag@gaos.org</a>.</p>

{{ end }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
  <ul class='list'>
    {{ range .Paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </ul>

  {{ partial "nav/pagination" . }}
</div>

{{ partial "footer" . }}
