{{- if not .Site.Params.settings.hideMainMenu -}}

<nav id='main-menu' class='menu main-menu' aria-label='{{ i18n "mainMenu" }}'>
  <div class='container'>
    {{ partial "sidebar/toggler" . }}
    <ul>
    {{- range .Site.Menus.main -}}
      {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
      <li class='item {{- if $isCurrent }} current {{- end -}}'>
        <a {{ if $isCurrent -}} aria-current='page' {{ end -}} href='{{ .URL }}'>
          {{- .Name -}}
        </a>
      </li>
    {{- end -}}
    {{ if .OutputFormats.Get "RSS" }}
      <li class='item'>
        <a href="{{ (.OutputFormats.Get "RSS").Permalink }}" type="application/rss+xml" target="_blank" />
        RSS
        </a>
      </li>
    {{- end -}}
    </ul>
  </div>
</nav>

{{- else -}}

{{ partial "sidebar/toggler" . }}

{{- end -}}
