{{- $config := .Site.Params.comments -}}

{{- $enabledGlobally := $config.enable -}}
{{- $disabledGlobally := ( not $enabledGlobally ) -}}

{{ $optOut := ( eq .Params.comments false ) }}
{{ $optIn := .Params.comments }}

{{- $enableConditionOne := ( and $disabledGlobally $optIn ) -}}
{{- $enableConditionTwo := ( and $enabledGlobally ( not $optOut ) ) -}}

{{- if ( or $enableConditionOne $enableConditionTwo ) -}}

{{- $disqusEnabled := .Site.DisqusShortname -}}
{{- $staticmanEnabled := $config.staticman.enable -}}

<section id='comments' class='comments'>
  <div class='container sep-before'>
    <div class='comments-area'>
      {{"<!-- begin comments //-->" | safeHTML}}
      <section id="isso-thread">

      </section>
      {{"<!-- end comments //-->" | safeHTML}}      
    </div>
  </div>
</section>

{{- end -}}
